############ Private Registry
email=Marcello_deSales@intuit.com
always-auth=true
registry=http://sds-repo-dev.qdc.intuit.com:8082/nexus/content/groups/npm-all/
_auth=Y2ljZHVzZXI6cGFzc3dvcmQ=
save-prefix='~'
tag-version-prefix=""
loglevel=info
